@import '../../index.css';

.wallpaper{
    height: calc(90vh - 80px);
    width: 100%;

    background-image: url('../../images/omen-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wallpaper .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}

.wallpaper .container h1{
    color: var(--beige);
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -16px;
    letter-spacing: -8.5px;
    line-height: 80%;
}



.categoryContainer{
    display: flex;
    flex-direction: column;
}

.category{
    position: relative;
    font-size: 24px;
}

.dropdown{
    position: absolute;
    right: 0;
    top: 0;
}

.toggle, .toggle:hover, .toggle:active{
    background-color: #212529;
    box-shadow: none;
    color: white;
}

.toggle:active{
    transform: rotate(180deg);
}


.headerCell{
    background-color: var(--button-black);
    vertical-align: middle;
}

.weaponClass{
    font-size: 12px;
}

.bodyCell{
    padding: 20px !important;
    font-size: 24px; 
}

.cream1{
    background-color: var(--cream-1) !important;
}

.cream2{
    background-color: var(--cream-2) !important;
}

.link{
    color: var(--button-black);
    text-decoration: none;
    transition: 0.4s;
}

.link:hover{
    color: var(--red);
}

@media only screen and (max-width: 768px){
    .wallpaper .container h1{
        font-size: 80px;
        font-weight: 700;
        margin-bottom: -24px;
        letter-spacing: -8.5px;
        margin-bottom: -10px;
    }

    .bodyCell{
        font-size: 18px;
    }

    .weaponClass{
        font-size: 10px;
    }
}

@media only screen and (max-width: 425px){
    .wallpaper .container h1{
        font-size: 60px;
        font-weight: 700;
        margin-bottom: -8px;
        letter-spacing: -6.5px;
    }

    .bodyCell{
        font-size: 14px;
    }

    .category{
        font-size: 16px;
    }
}